# Create a .env file in the root of the project and add the following environment variables:

OPENAI_API_KEY = ""
SUPABASE_PUBLISHABLE = "" # Safe to have on GitHub, doesn't need to be here.
SUPABASE_SECRET = ""

# APP CONFIG (if necessary)
PORT = 3000
ENVIRONMENT = "development" # or staging, or production