@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=DM+Sans:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #f0ede8;
  color: #1e2d24;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Atteron', 'DM Sans', sans-serif;
  color: #344e41;
}
