@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  
  body {
    @apply m-0 p-0 font-body bg-background text-text-dark;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #dad7cd;
}

::-webkit-scrollbar-thumb {
  background: #a3b18a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #344e41;
}
